@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

html {
  color: $gray3;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
}

a,
button,
input,
textarea {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

.text-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @include tablet {
    font-size: 14px;
  }
}

.h2 {
  margin: 0 0 70px;
  color: $black;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;

  @include tablet {
    font-size: 48px;
  }

  @include mobile {
    font-size: 32px;
  }
}
