@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

html {
  color: $black;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: $white;
}

a,
button,
input,
textarea {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

p {
  margin: 16px 0;
}

ul {
  margin: 16px 0;
  padding-left: 18px;
}

.h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 5.6px;
  text-transform: uppercase;
}

.h2 {
  margin: 0 0 64px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;

  @include mobile {
    margin-bottom: 24px;
    font-size: 26px;
  }
}

.h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2.4px;
  text-transform: uppercase;

  @include mobile {
    font-size: 17px;
    letter-spacing: 1.7px;
  }
}
