.about {
  &__title {
  }

  &__advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px;
    max-width: 1110px;
    margin: 0 auto;

    @include laptop {
      gap: 32px;
    }

    @include tablet {
      justify-content: center;
    }

    &-card {
      flex: 1 1 40%;
      max-width: 498px;

      @include tablet {
        flex: 1 1 100%;
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 24px;
        padding: 0;

        & img {
          display: block;
          height: 56px;
          width: auto;
        }
      }

      &-title {
        margin: 0 0 16px;
        text-align: center;
      }

      &-text {
        color: $gray1;
        text-align: center;
      }
    }
  }
}
