.footer {
  padding: 24px 0;
  background-color: $white;
  text-align: center;
  border-top: 1px solid $gray3;

  &__phone {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 100;
    cursor: pointer;

    @include mobile {
      bottom: 40px;
      right: 24px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      border: 1px solid $prim;
      left: -5px;
      right: -5px;
      top: -5px;
      bottom: -5px;
      border-radius: 100px;
      animation: pulse 1.8s linear infinite;
      animation-delay: 0.5s;
      opacity: 0;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.8);
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        transform: scale(1.25);
        opacity: 0;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 13px;
      z-index: 100;
      border: 2px solid $prim;
      border-radius: 64px;
      background-color: rgba($color: $white, $alpha: 0.7);
      backdrop-filter: blur(10px);

      &::before {
        content: "";
        display: block;
        height: 28px;
        width: 28px;
        background: url(../img/icons/phone-brown.svg) center no-repeat;
        background-size: 100%;
      }
    }

    &-text {
      color: $prim;

      @include tablet {
        display: none;
      }
    }
  }
}
